doctype html
html
  head
    meta(charset='UTF-8')
    title Simple Board
    link(rel='stylesheet', href='/static/style.css')
  body
    div.contents
      h1  Simple Board - 관리자 (삭제만 가능)
      div.btnArea 
        input(type='button', value='목록으로')

      table 
        thead 
          tr
            th NO.
            th 제목 (댓글 수)
            th 작성자
            th 작성일
            th
        tbody
        - for (let i=0; i<data.length; i++)
         tr
            td #{data[i].id}
            td 
              a(href="/read/" + data[i].id) #{data[i].title} 
            td #{data[i].auth}
            td #{data[i].date}
            td
              input(type='button', value='삭제', data-value=data[i].id, class='btn', onclick='delProc(this);')

    script(src='/static/script.js')
    script.
      callAdmin();          
